html {
    background-color: #3D348B;
    box-sizing: border-box;
    padding-left: 1em;
    font-size: 0.8vw;
}

h1 {
    margin: 0;
    color: #b7b8ff;
    font-family: 'Poppins', sans-serif; 
    font-size: 6rem;
}

button {
    background-color: #6365db;
    color: #b7b8ff;
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem;
    border: none;
}

input {
    background-color: #bcbdd4;
    color: #6365db;
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem;
    border: none;
    width: 10rem;
    margin-left: 0.5rem;
}

button:hover {
    background-color: #5a5ccf;
}

p {
    color: #b7b8ff;
    font-family: 'Poppins', sans-serif; 
    font-size: 3rem;
}

div {
    color: #b7b8ff;
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem;
}
canvas {
    width: 60vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}