html {
    font-family: 'Work Sans', sans-serif;
    
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 73L16.7 68C33.3 63 66.7 53 100 48C133.3 43 166.7 43 200 46C233.3 49 266.7 55 300 57C333.3 59 366.7 57 400 57C433.3 57 466.7 59 500 60C533.3 61 566.7 61 600 64C633.3 67 666.7 73 700 73C733.3 73 766.7 67 800 64C833.3 61 866.7 61 883.3 61L900 61L900 0L883.3 0C866.7 0 833.3 0 800 0C766.7 0 733.3 0 700 0C666.7 0 633.3 0 600 0C566.7 0 533.3 0 500 0C466.7 0 433.3 0 400 0C366.7 0 333.3 0 300 0C266.7 0 233.3 0 200 0C166.7 0 133.3 0 100 0C66.7 0 33.3 0 16.7 0L0 0Z' fill='%232b1149'%3E%3C/path%3E%3Cpath d='M0 187L16.7 183C33.3 179 66.7 171 100 157C133.3 143 166.7 123 200 128C233.3 133 266.7 163 300 165C333.3 167 366.7 141 400 137C433.3 133 466.7 151 500 163C533.3 175 566.7 181 600 187C633.3 193 666.7 199 700 200C733.3 201 766.7 197 800 189C833.3 181 866.7 169 883.3 163L900 157L900 59L883.3 59C866.7 59 833.3 59 800 62C766.7 65 733.3 71 700 71C666.7 71 633.3 65 600 62C566.7 59 533.3 59 500 58C466.7 57 433.3 55 400 55C366.7 55 333.3 57 300 55C266.7 53 233.3 47 200 44C166.7 41 133.3 41 100 46C66.7 51 33.3 61 16.7 66L0 71Z' fill='%23221240'%3E%3C/path%3E%3Cpath d='M0 289L16.7 285C33.3 281 66.7 273 100 255C133.3 237 166.7 209 200 206C233.3 203 266.7 225 300 226C333.3 227 366.7 207 400 206C433.3 205 466.7 223 500 234C533.3 245 566.7 249 600 256C633.3 263 666.7 273 700 272C733.3 271 766.7 259 800 248C833.3 237 866.7 227 883.3 222L900 217L900 155L883.3 161C866.7 167 833.3 179 800 187C766.7 195 733.3 199 700 198C666.7 197 633.3 191 600 185C566.7 179 533.3 173 500 161C466.7 149 433.3 131 400 135C366.7 139 333.3 165 300 163C266.7 161 233.3 131 200 126C166.7 121 133.3 141 100 155C66.7 169 33.3 177 16.7 181L0 185Z' fill='%231a1236'%3E%3C/path%3E%3Cpath d='M0 409L16.7 410C33.3 411 66.7 413 100 404C133.3 395 166.7 375 200 375C233.3 375 266.7 395 300 397C333.3 399 366.7 383 400 369C433.3 355 466.7 343 500 352C533.3 361 566.7 391 600 410C633.3 429 666.7 437 700 433C733.3 429 766.7 413 800 409C833.3 405 866.7 413 883.3 417L900 421L900 215L883.3 220C866.7 225 833.3 235 800 246C766.7 257 733.3 269 700 270C666.7 271 633.3 261 600 254C566.7 247 533.3 243 500 232C466.7 221 433.3 203 400 204C366.7 205 333.3 225 300 224C266.7 223 233.3 201 200 204C166.7 207 133.3 235 100 253C66.7 271 33.3 279 16.7 283L0 287Z' fill='%2314102c'%3E%3C/path%3E%3Cpath d='M0 559L16.7 560C33.3 561 66.7 563 100 557C133.3 551 166.7 537 200 529C233.3 521 266.7 519 300 520C333.3 521 366.7 525 400 527C433.3 529 466.7 529 500 534C533.3 539 566.7 549 600 551C633.3 553 666.7 547 700 542C733.3 537 766.7 533 800 535C833.3 537 866.7 545 883.3 549L900 553L900 419L883.3 415C866.7 411 833.3 403 800 407C766.7 411 733.3 427 700 431C666.7 435 633.3 427 600 408C566.7 389 533.3 359 500 350C466.7 341 433.3 353 400 367C366.7 381 333.3 397 300 395C266.7 393 233.3 373 200 373C166.7 373 133.3 393 100 402C66.7 411 33.3 409 16.7 408L0 407Z' fill='%23100c21'%3E%3C/path%3E%3Cpath d='M0 601L16.7 601C33.3 601 66.7 601 100 601C133.3 601 166.7 601 200 601C233.3 601 266.7 601 300 601C333.3 601 366.7 601 400 601C433.3 601 466.7 601 500 601C533.3 601 566.7 601 600 601C633.3 601 666.7 601 700 601C733.3 601 766.7 601 800 601C833.3 601 866.7 601 883.3 601L900 601L900 551L883.3 547C866.7 543 833.3 535 800 533C766.7 531 733.3 535 700 540C666.7 545 633.3 551 600 549C566.7 547 533.3 537 500 532C466.7 527 433.3 527 400 525C366.7 523 333.3 519 300 518C266.7 517 233.3 519 200 527C166.7 535 133.3 549 100 555C66.7 561 33.3 559 16.7 558L0 557Z' fill='%23090717'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    color: white;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
}
#picker-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
#colour {
    height: 20vw;
    width: 20vw;
    background-color: red;
    border-radius: 1vw;
    box-shadow: 0px 0px 15px 5px #000000;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
}

#colour-name {
    font-weight: 700;
}

button {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin-top: 2vw;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;      
    font-family: 'Work Sans', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    box-shadow: 0 0 5px #d1d1d1;
    border-radius: 1vw;
    width: 20vw;
    height: 5vw;
  }

button:hover {
    background-position: right center; 
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 73L16.7 68C33.3 63 66.7 53 100 48C133.3 43 166.7 43 200 46C233.3 49 266.7 55 300 57C333.3 59 366.7 57 400 57C433.3 57 466.7 59 500 60C533.3 61 566.7 61 600 64C633.3 67 666.7 73 700 73C733.3 73 766.7 67 800 64C833.3 61 866.7 61 883.3 61L900 61L900 0L883.3 0C866.7 0 833.3 0 800 0C766.7 0 733.3 0 700 0C666.7 0 633.3 0 600 0C566.7 0 533.3 0 500 0C466.7 0 433.3 0 400 0C366.7 0 333.3 0 300 0C266.7 0 233.3 0 200 0C166.7 0 133.3 0 100 0C66.7 0 33.3 0 16.7 0L0 0Z' fill='%232b1149'%3E%3C/path%3E%3Cpath d='M0 187L16.7 183C33.3 179 66.7 171 100 157C133.3 143 166.7 123 200 128C233.3 133 266.7 163 300 165C333.3 167 366.7 141 400 137C433.3 133 466.7 151 500 163C533.3 175 566.7 181 600 187C633.3 193 666.7 199 700 200C733.3 201 766.7 197 800 189C833.3 181 866.7 169 883.3 163L900 157L900 59L883.3 59C866.7 59 833.3 59 800 62C766.7 65 733.3 71 700 71C666.7 71 633.3 65 600 62C566.7 59 533.3 59 500 58C466.7 57 433.3 55 400 55C366.7 55 333.3 57 300 55C266.7 53 233.3 47 200 44C166.7 41 133.3 41 100 46C66.7 51 33.3 61 16.7 66L0 71Z' fill='%23221240'%3E%3C/path%3E%3Cpath d='M0 289L16.7 285C33.3 281 66.7 273 100 255C133.3 237 166.7 209 200 206C233.3 203 266.7 225 300 226C333.3 227 366.7 207 400 206C433.3 205 466.7 223 500 234C533.3 245 566.7 249 600 256C633.3 263 666.7 273 700 272C733.3 271 766.7 259 800 248C833.3 237 866.7 227 883.3 222L900 217L900 155L883.3 161C866.7 167 833.3 179 800 187C766.7 195 733.3 199 700 198C666.7 197 633.3 191 600 185C566.7 179 533.3 173 500 161C466.7 149 433.3 131 400 135C366.7 139 333.3 165 300 163C266.7 161 233.3 131 200 126C166.7 121 133.3 141 100 155C66.7 169 33.3 177 16.7 181L0 185Z' fill='%231a1236'%3E%3C/path%3E%3Cpath d='M0 409L16.7 410C33.3 411 66.7 413 100 404C133.3 395 166.7 375 200 375C233.3 375 266.7 395 300 397C333.3 399 366.7 383 400 369C433.3 355 466.7 343 500 352C533.3 361 566.7 391 600 410C633.3 429 666.7 437 700 433C733.3 429 766.7 413 800 409C833.3 405 866.7 413 883.3 417L900 421L900 215L883.3 220C866.7 225 833.3 235 800 246C766.7 257 733.3 269 700 270C666.7 271 633.3 261 600 254C566.7 247 533.3 243 500 232C466.7 221 433.3 203 400 204C366.7 205 333.3 225 300 224C266.7 223 233.3 201 200 204C166.7 207 133.3 235 100 253C66.7 271 33.3 279 16.7 283L0 287Z' fill='%2314102c'%3E%3C/path%3E%3Cpath d='M0 559L16.7 560C33.3 561 66.7 563 100 557C133.3 551 166.7 537 200 529C233.3 521 266.7 519 300 520C333.3 521 366.7 525 400 527C433.3 529 466.7 529 500 534C533.3 539 566.7 549 600 551C633.3 553 666.7 547 700 542C733.3 537 766.7 533 800 535C833.3 537 866.7 545 883.3 549L900 553L900 419L883.3 415C866.7 411 833.3 403 800 407C766.7 411 733.3 427 700 431C666.7 435 633.3 427 600 408C566.7 389 533.3 359 500 350C466.7 341 433.3 353 400 367C366.7 381 333.3 397 300 395C266.7 393 233.3 373 200 373C166.7 373 133.3 393 100 402C66.7 411 33.3 409 16.7 408L0 407Z' fill='%23100c21'%3E%3C/path%3E%3Cpath d='M0 601L16.7 601C33.3 601 66.7 601 100 601C133.3 601 166.7 601 200 601C233.3 601 266.7 601 300 601C333.3 601 366.7 601 400 601C433.3 601 466.7 601 500 601C533.3 601 566.7 601 600 601C633.3 601 666.7 601 700 601C733.3 601 766.7 601 800 601C833.3 601 866.7 601 883.3 601L900 601L900 551L883.3 547C866.7 543 833.3 535 800 533C766.7 531 733.3 535 700 540C666.7 545 633.3 551 600 549C566.7 547 533.3 537 500 532C466.7 527 433.3 527 400 525C366.7 523 333.3 519 300 518C266.7 517 233.3 519 200 527C166.7 535 133.3 549 100 555C66.7 561 33.3 559 16.7 558L0 557Z' fill='%23090717'%3E%3C/path%3E%3C/svg%3E");
    background-size: auto 100%;
    background-attachment: fixed;
}

#colour-comparison {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

#real-colour, #guess-colour {
    width: 20vw;
    height: 20vw;
    background-color: red;
    border-radius: 1vw;
}

.colour-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 5vw;
        text-align: center;
    }
    
    h2 {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 10vw;
        text-align: center;
    }
    #picker-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5vw;
    }

    #colour {
        height: max(3vh, min(calc(100vh - 160vw), 60vw));
        width: 60vw;
        border-radius: 3vw;
    }

    button {
        width: 80vw;
        height: 15vw;
        font-size: 8vw;
    }

    #colour-comparison {
        display: flex;
        flex-direction: column;
        gap: 0vw;
    }

    #real-colour, #guess-colour {
        width: 60vw;
        height: max(3vh, min(calc(40vh - 20vw), 60vw));
        border-radius: 3vw;
    }

    #modal h1 {
        font-size: 8vw;
    }
    .colour-name-container h2 {
        font-size: 5vw;
    }
}