:root {
    --text: #F5F1ED;
    --background: #090604;
    --primary: #DCB990;
    --secondary: #895920;
    --accent: #E1953B;
}
html {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;

    background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 39L14.5 46.2C29 53.3 58 67.7 87.2 69.5C116.3 71.3 145.7 60.7 174.8 50.8C204 41 233 32 262 36.5C291 41 320 59 349 65.2C378 71.3 407 65.7 436.2 57.5C465.3 49.3 494.7 38.7 523.8 35.2C553 31.7 582 35.3 611 42.5C640 49.7 669 60.3 698 68.3C727 76.3 756 81.7 785.2 82.7C814.3 83.7 843.7 80.3 872.8 71.3C902 62.3 931 47.7 945.5 40.3L960 33L960 0L945.5 0C931 0 902 0 872.8 0C843.7 0 814.3 0 785.2 0C756 0 727 0 698 0C669 0 640 0 611 0C582 0 553 0 523.8 0C494.7 0 465.3 0 436.2 0C407 0 378 0 349 0C320 0 291 0 262 0C233 0 204 0 174.8 0C145.7 0 116.3 0 87.2 0C58 0 29 0 14.5 0L0 0Z" fill="%23060503"></path><path d="M0 71L14.5 77.3C29 83.7 58 96.3 87.2 95.5C116.3 94.7 145.7 80.3 174.8 75C204 69.7 233 73.3 262 80.5C291 87.7 320 98.3 349 104.5C378 110.7 407 112.3 436.2 101.5C465.3 90.7 494.7 67.3 523.8 61.2C553 55 582 66 611 81.3C640 96.7 669 116.3 698 128.8C727 141.3 756 146.7 785.2 141.3C814.3 136 843.7 120 872.8 106.5C902 93 931 82 945.5 76.5L960 71L960 31L945.5 38.3C931 45.7 902 60.3 872.8 69.3C843.7 78.3 814.3 81.7 785.2 80.7C756 79.7 727 74.3 698 66.3C669 58.3 640 47.7 611 40.5C582 33.3 553 29.7 523.8 33.2C494.7 36.7 465.3 47.3 436.2 55.5C407 63.7 378 69.3 349 63.2C320 57 291 39 262 34.5C233 30 204 39 174.8 48.8C145.7 58.7 116.3 69.3 87.2 67.5C58 65.7 29 51.3 14.5 44.2L0 37Z" fill="%23070503"></path><path d="M0 114L14.5 119.5C29 125 58 136 87.2 131.5C116.3 127 145.7 107 174.8 98C204 89 233 91 262 102.8C291 114.7 320 136.3 349 145.3C378 154.3 407 150.7 436.2 137.2C465.3 123.7 494.7 100.3 523.8 97.7C553 95 582 113 611 124.7C640 136.3 669 141.7 698 148.8C727 156 756 165 785.2 165C814.3 165 843.7 156 872.8 141.5C902 127 931 107 945.5 97L960 87L960 69L945.5 74.5C931 80 902 91 872.8 104.5C843.7 118 814.3 134 785.2 139.3C756 144.7 727 139.3 698 126.8C669 114.3 640 94.7 611 79.3C582 64 553 53 523.8 59.2C494.7 65.3 465.3 88.7 436.2 99.5C407 110.3 378 108.7 349 102.5C320 96.3 291 85.7 262 78.5C233 71.3 204 67.7 174.8 73C145.7 78.3 116.3 92.7 87.2 93.5C58 94.3 29 81.7 14.5 75.3L0 69Z" fill="%23070603"></path><path d="M0 141L14.5 156.3C29 171.7 58 202.3 87.2 201.5C116.3 200.7 145.7 168.3 174.8 156.7C204 145 233 154 262 165.7C291 177.3 320 191.7 349 207.8C378 224 407 242 436.2 237.5C465.3 233 494.7 206 523.8 190.7C553 175.3 582 171.7 611 182.5C640 193.3 669 218.7 698 226C727 233.3 756 222.7 785.2 221.8C814.3 221 843.7 230 872.8 226.3C902 222.7 931 206.3 945.5 198.2L960 190L960 85L945.5 95C931 105 902 125 872.8 139.5C843.7 154 814.3 163 785.2 163C756 163 727 154 698 146.8C669 139.7 640 134.3 611 122.7C582 111 553 93 523.8 95.7C494.7 98.3 465.3 121.7 436.2 135.2C407 148.7 378 152.3 349 143.3C320 134.3 291 112.7 262 100.8C233 89 204 87 174.8 96C145.7 105 116.3 125 87.2 129.5C58 134 29 123 14.5 117.5L0 112Z" fill="%23080604"></path><path d="M0 195L14.5 211.3C29 227.7 58 260.3 87.2 274.8C116.3 289.3 145.7 285.7 174.8 278.3C204 271 233 260 262 256.3C291 252.7 320 256.3 349 265.3C378 274.3 407 288.7 436.2 298.7C465.3 308.7 494.7 314.3 523.8 318C553 321.7 582 323.3 611 317.8C640 312.3 669 299.7 698 311.3C727 323 756 359 785.2 357.2C814.3 355.3 843.7 315.7 872.8 291.3C902 267 931 258 945.5 253.5L960 249L960 188L945.5 196.2C931 204.3 902 220.7 872.8 224.3C843.7 228 814.3 219 785.2 219.8C756 220.7 727 231.3 698 224C669 216.7 640 191.3 611 180.5C582 169.7 553 173.3 523.8 188.7C494.7 204 465.3 231 436.2 235.5C407 240 378 222 349 205.8C320 189.7 291 175.3 262 163.7C233 152 204 143 174.8 154.7C145.7 166.3 116.3 198.7 87.2 199.5C58 200.3 29 169.7 14.5 154.3L0 139Z" fill="%23090604"></path><path d="M0 244L14.5 260.2C29 276.3 58 308.7 87.2 322.2C116.3 335.7 145.7 330.3 174.8 320.5C204 310.7 233 296.3 262 289.2C291 282 320 282 349 287.3C378 292.7 407 303.3 436.2 315C465.3 326.7 494.7 339.3 523.8 346.5C553 353.7 582 355.3 611 352.7C640 350 669 343 698 351.2C727 359.3 756 382.7 785.2 378.2C814.3 373.7 843.7 341.3 872.8 320.7C902 300 931 291 945.5 286.5L960 282L960 247L945.5 251.5C931 256 902 265 872.8 289.3C843.7 313.7 814.3 353.3 785.2 355.2C756 357 727 321 698 309.3C669 297.7 640 310.3 611 315.8C582 321.3 553 319.7 523.8 316C494.7 312.3 465.3 306.7 436.2 296.7C407 286.7 378 272.3 349 263.3C320 254.3 291 250.7 262 254.3C233 258 204 269 174.8 276.3C145.7 283.7 116.3 287.3 87.2 272.8C58 258.3 29 225.7 14.5 209.3L0 193Z" fill="%2318120d"></path><path d="M0 460L14.5 459.2C29 458.3 58 456.7 87.2 458.5C116.3 460.3 145.7 465.7 174.8 468.3C204 471 233 471 262 469.2C291 467.3 320 463.7 349 463.7C378 463.7 407 467.3 436.2 470C465.3 472.7 494.7 474.3 523.8 468C553 461.7 582 447.3 611 443.8C640 440.3 669 447.7 698 453C727 458.3 756 461.7 785.2 462.5C814.3 463.3 843.7 461.7 872.8 461.7C902 461.7 931 463.3 945.5 464.2L960 465L960 280L945.5 284.5C931 289 902 298 872.8 318.7C843.7 339.3 814.3 371.7 785.2 376.2C756 380.7 727 357.3 698 349.2C669 341 640 348 611 350.7C582 353.3 553 351.7 523.8 344.5C494.7 337.3 465.3 324.7 436.2 313C407 301.3 378 290.7 349 285.3C320 280 291 280 262 287.2C233 294.3 204 308.7 174.8 318.5C145.7 328.3 116.3 333.7 87.2 320.2C58 306.7 29 274.3 14.5 258.2L0 242Z" fill="%23231a14"></path><path d="M0 492L14.5 487.5C29 483 58 474 87.2 474C116.3 474 145.7 483 174.8 485.8C204 488.7 233 485.3 262 485.3C291 485.3 320 488.7 349 494C378 499.3 407 506.7 436.2 511.2C465.3 515.7 494.7 517.3 523.8 511C553 504.7 582 490.3 611 482.3C640 474.3 669 472.7 698 479C727 485.3 756 499.7 785.2 503.2C814.3 506.7 843.7 499.3 872.8 497.5C902 495.7 931 499.3 945.5 501.2L960 503L960 463L945.5 462.2C931 461.3 902 459.7 872.8 459.7C843.7 459.7 814.3 461.3 785.2 460.5C756 459.7 727 456.3 698 451C669 445.7 640 438.3 611 441.8C582 445.3 553 459.7 523.8 466C494.7 472.3 465.3 470.7 436.2 468C407 465.3 378 461.7 349 461.7C320 461.7 291 465.3 262 467.2C233 469 204 469 174.8 466.3C145.7 463.7 116.3 458.3 87.2 456.5C58 454.7 29 456.3 14.5 457.2L0 458Z" fill="%232e2219"></path><path d="M0 541L14.5 541C29 541 58 541 87.2 541C116.3 541 145.7 541 174.8 541C204 541 233 541 262 541C291 541 320 541 349 541C378 541 407 541 436.2 541C465.3 541 494.7 541 523.8 541C553 541 582 541 611 541C640 541 669 541 698 541C727 541 756 541 785.2 541C814.3 541 843.7 541 872.8 541C902 541 931 541 945.5 541L960 541L960 501L945.5 499.2C931 497.3 902 493.7 872.8 495.5C843.7 497.3 814.3 504.7 785.2 501.2C756 497.7 727 483.3 698 477C669 470.7 640 472.3 611 480.3C582 488.3 553 502.7 523.8 509C494.7 515.3 465.3 513.7 436.2 509.2C407 504.7 378 497.3 349 492C320 486.7 291 483.3 262 483.3C233 483.3 204 486.7 174.8 483.8C145.7 481 116.3 472 87.2 472C58 472 29 481 14.5 485.5L0 490Z" fill="%233a2a1e"></path></svg>');
    background-size: cover;
}

div, button, input {
    border-radius: 1vw;
}
#master {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 1vw;
}


#sidebar-container {
    overflow: hidden;
}

#sidebar {
    width: 14vw;
    height: 70vh;
    background-color: var(--secondary); 
    font-size: 30px;
    overflow-y: scroll;
    position: relative;
   
}

::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-track {
    background: none; 
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); 
}
#sidebar > button {
    margin-top: 1vw;
    margin-bottom: 0;
    margin-left: 1vw;
    width: 12vw;
    height: 8vh;
    border: 0;
    box-shadow: none;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3vh;
    outline: medium solid rgba(255, 255, 255, 0.2);
}

#sidebar > button:hover {
    color: rgba(255, 255, 255, 0.9);
    outline: medium solid rgba(255, 255, 255, 0.4);
}

#main {
    width: 50vw;
    height: 80vh;
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

#graph {
    width: 50vw;
    height: calc(60vh - 1vw);
    background-color: var(--primary);
    box-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.5),0.5vw 0.5vw var(--primary);
}

#button-bar {
    width: 50vw;
    height: 20vh;
    display: flex;
    gap: 1vw;
}

#settings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 20vh;
    gap: 1vw;
}

#speed, #count {
    background-color: none;
    outline: medium solid dimgray;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 5vh;
    color: dimgray;
}

input {
    border: 0;
    box-shadow: none;
    background-color: dimgray;
    font-size: 5vh;
    text-align: center;
    color: var(--text);
}
#shuffle, #sort {
    border: 0;
    box-shadow: none;
    height: 20vh;
    width: 20vh;
    color: rgba(0, 0, 0, 0.54);
   
    
}

#shuffle > span, #sort > span {
    font-size: 15vh;
    position: relative;
    top: 0.5vh;
}

#sort > span {
    right: 0.6vh;
}

#shuffle {
    background-color: rgb(167, 167, 167);
    box-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.5),0.5vw 0.5vw rgb(167, 167, 167);
    
}
#sort {
    background-color: var(--accent);
    box-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.5),0.5vw 0.5vw var(--accent);
}

#canvas {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

#tooltip {
    color: rgba(255, 255, 255, 0.2);
    cursor: default;
    margin-top: -3vh;
    font-size: 2vh;
}

#tooltip-text {
    opacity: 0;
    transition: opacity 0s;
    width: 20vh;
    height: 4vh;
    border-radius: 1vh;
    font-size: 1.5vh;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin-left: -11.5vh;
    margin-top: -8vh;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    padding: 1vh;
}
#tooltip:hover #tooltip-text {
    opacity: 1;
    transition-delay: 0.2s;
}

#tooltip-text {
    pointer-events: none;
}

#extra-settings {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    color: rgba(255, 255, 255, 0.1);
    cursor: default;
}

#settings-modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    padding: 1vw;
    gap: 2vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(128,128,128,0.95);
    margin: auto;
    margin-top: 10vh;
    width: 60%;
    height: 60%;
}

#color-buttons {
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-evenly;
}

#color-buttons > button {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw !important;
    outline-style: solid;
    outline-width: 0.5vw;
    border: 0;
    box-shadow: none;
}

#highlight-swapped {
    position: relative;
    display: inline-block;
    height: 6vh;
    width: 10vh;
}

#highlight-container {
    display: flex;
    gap: 2vh;
}

#highlight-swapped input {
    opacity: 0;
    width: 0;
    height: 0;
}
#highlight-swapped-label {
    color:white;
    font-size: min(2.5vw, 4vh);
}

#slider {
    position: absolute;
    cursor: pointer;
    border-radius: 6vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

#slider:before {
    position: absolute;
    content: "";
    height: 4.5vh;
    width: 4.5vh;
    left: 0.75vh;
    bottom: 0.75vh;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
    transition: .4s;
}

#highlight-swapped input:checked + #slider {
    background-color: var(--accent);
}
  
#highlight-swapped input:focus + #slider {
    box-shadow: 0 0 1px var(--accent);
}

#highlight-swapped input:checked + #slider:before {
    transform: translateX(4vh);
}

button:hover {
    filter: brightness(120%);
}
@media (orientation: portrait) {
    #master {
        flex-direction: column;
    }
    
    #sidebar {
        width: 80vw;
        height: 14vh;
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
    }

    #sidebar > button {
        margin-top: 0;
        margin-left: 2vw;
        margin-bottom: 0;
        width: 30vw;
        height: 12vh;
    }
    #main {
        width: 80vw;
    }
    #graph {
        width: 80vw;
    }
    #button-bar {
        width: 80vw;
    }
    #shuffle, #sort {
        max-width: 30vw;
    }
    #speed, #count {
        flex-direction: column;
    }
    label {
        font-size: 4vw;
    }

    input {
        font-size: 6vw;
    }
    .icon {
        display: none;
    }
}