html {
  box-sizing: border-box;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
  width: 100%;
  position: absolute;
  color: white;
  margin-top: 0.3vw;
  animation: title-load 1800ms;
  animation-timing-function: cubic-bezier(.17,.41,.28,.97);
  font-size: 5vw;
  font-family: 'Didact Gothic', sans-serif;
}

h2 {
    text-align: center;
    width: 100%;
    top: 85%;
    position: absolute;
    color: white;
    font-size: 3vw;
    font-family: 'Didact Gothic', sans-serif;
    animation: sub-load 3600ms;
}
@keyframes title-load {
  0% {
    transform: translateY(-200%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes sub-load {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}